:root {
    --primarly-black-color: #212121;
    --primarly-gray-color:#757575;
    --hero-color:#2F303A;
    --primarly-white-color:#FFFFFF;
    --accent-color:#2196F3;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;

}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul, ol {
    padding-left: 0;
    margin: 0;
}
body {
    font-family: 'Roboto',Tahoma,sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primarly-black-color);
    background-color: var(--primarly-white-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list  {
    list-style: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.link{
    text-decoration: none;
}
.header-logo-span {
    color: var(--primarly-black-color);
}
.footer-logo-span {
    color: var(--primarly-white-color)
}
.current-btn-portfolio {
    background-color: var(--accent-color);
    color: var(--primarly-white-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .section {
      padding-top: 94px;
      padding-bottom: 94px;
  }
/* header */
.header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ECECEC;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-link {
    display: block;
    padding: 32px 0;
    position: relative;
}
.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
}

.header-list {
    display: flex;
    align-items: center;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.contact-list{
    display: flex;
    margin-left: auto;
    fill: var(--accent-color);
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:var(--accent-color);
    margin-right: 93px;
}

.header-link,.header-contacts {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primarly-black-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-link:hover,
.header-link:focus {
    color:var(--accent-color)
}

.header-contacts{
    color: var(--primarly-gray-color);
    display: block;
    padding: 32px 0;
}

.header-contacts:hover,
.header-contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus,
.current {
    color:var(--accent-color);
}
.header-contact-icon{
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
    padding-top: 3px;
}

/* hero */
.hero-btn {
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.hero{
    background-color:var(--hero-color) ;
    padding: 200px 0;
    text-align: center;
    background-image:linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}
.hero-title {
    font-family:inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primarly-white-color);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* description */
.description {
    padding: 94px 0;
}
.description-list {
    display: flex;
    align-items: center;
}
.description-item:not(:last-child) {
    margin-right: 30px;
}
.description-title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primarly-black-color);
    margin-bottom: 10px;
}
.description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primarly-gray-color);
}
.description-soc-item {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.description-soc-icon {
    width: 70px;
    height: 70px;
}
/* title */
.about {
    padding-bottom: 94px;
    padding-top: 0;
}
.about-list {
    display: flex;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--primarly-black-color);
    margin-bottom: 50px;

}
.about-item + .about-item {
    margin-left: 30px;
}
.about-overlay {
    position: relative;
}
.about-text{
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primarly-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* team */
.team{
    background-color: #F5F4FA;
}
.team-item {
    align-items: center;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primarly-black-color);
    margin-bottom: 10px;
}
.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primarly-gray-color);
    margin-bottom: 16px;
}
.team-item {
    flex-basis: calc((100% - 120px)/3);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primarly-white-color);
}
.team-list{
    display: flex;
    margin-left: -30px;
}
.team-text {
    text-align: center;
    padding: 30px 10px;
}
.team-name-soc-list {
    display: flex;
    justify-content: center;
}
.team-name-soc-link {
    width: 44px;
    height: 44px;
    background-color:var(--primarly-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
}
.team-name-soc-link:hover,
.team-name-soc-link:focus {
    background-color: var(--accent-color);
    fill: var(--primarly-white-color);
}
.team-name-soc-item + .team-name-soc-item {
    margin-left: 10px;
}
/* clients */
.regular-clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);

}
.regular-clients-link:hover,
.regular-clients-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
.clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-list:not(:last-child) {
    margin-right: 30px;
}
/* footer */
.footer {
    background-color: var(--hero-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:var(--accent-color);
    display: block;
    margin-bottom: 20px;
}
.footer-list li:not(:last-child) {
    margin-bottom: 9px;
}
.footer-adress{
    font-family:inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--primarly-white-color)
}
.footer-contacts,
.footer-adress {
    font-family:inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--primarly-gray-color);
}
.footer-contacts {
    color: var(--footer-contacts);
}
.footer-adress {
    color: var(--primarly-white-color);
    padding-bottom: 9px;
}
.footer-item{
    display: flex;
    align-items: baseline;
    margin-top: 9px;
}
.footer-logo-item {
    padding-bottom: 20px;
}
.footer-mail{
    margin-bottom: 9px;
}
.join {
    margin-left: 70px;
}
.join-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primarly-white-color);
    margin-bottom: 20px;
}
.join-soc {
    display: flex;
    justify-content: center;
}
.join-icon + .join-icon{
    margin-left: 10px;
}
.join-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--primarly-white-color);
}
.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
    fill: var(--primarly-white-color);
}
/* portfolio */
.portfolio {
    padding: 94px 0;
}
.portfolio-btn, .current-btn-portfolio {
    font-family: inherit;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}
.portfolio-btn-list:not(:last-child) {
    margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: var(--primarly-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.cards-item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc((100% - 90px) / 3);
    background-color: var(--primarly-white-color);
    border: 1px solid #EEEEEE;
}

.cards-link:hover,
.cards-link:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-link:hover .overlay,
.cards-link:focus .overlay {
    transform: translateY(0%);
} 
.animation-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primarly-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
}
.text-wrapper {
    padding: 20px 24px;
}
.portfolio-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primarly-black-color);
}
.portfolio-text {
    color: var(--primarly-gray-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
/* backdrop */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}
.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--primarly-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-closed-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-sizing: border-box;
}
.modal-closed-btn:hover,
.modal-closed-btn:focus {
    fill: var(--accent-color);
    transition: fill 250ms;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-field {
    margin-bottom: 10px;
}
.modal-field-area {
    margin-bottom: 20px;
}
.modal-field-policy {
    margin-bottom: 30px;
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 0.76;
    text-align: center;
    color: var(--primarly-black-color);
    margin-bottom: 12px;
}
.modal-input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-input:focus {
    border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
    fill: var(--accent-color);
}
.modal-input-wrap {
    position: relative;
}
.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primarly-gray-color);
    margin-bottom: 4px;
    display: block;
}
.modal-text {
    box-sizing: border-box;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 16px 12px;
    resize: none;
}
.check-text {
    font-size: 14px;
    color: var(--primarly-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--primarly-black-color);
    border-radius: 3px;
    margin-right: 9px;
}
.input-check:checked + .check-text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.policy {
    margin-left: 4px;
    color: var(--accent-color);
}
.submit-btn-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-modal {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mailing {
    margin-left: 93px;
}
.mailing-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailing-label {
    display: flex;
    width: 219px;
    height: 16px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primarly-white-color);
    margin-bottom: 20px;
    cursor: pointer;
}
.mailing-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: var(--primarly-white-color);
}
.mailing-input::placeholder {
    color: rgba(255, 255, 255, 0.6)
}
.submit-btn-mailing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: 12px;
}
.mailing-send {
    margin-left: 10px;
    fill: var(--primarly-white-color);
}
