.clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
        &__link {
            width: 170px;
            height: 92px;
            border: 1px solid #AFB1B8;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: var(--icon-color);
                &:hover,
                &:focus {
                border-color: var(--accent-color);
                fill: var(--accent-color);
            }
        }
        &__list:not(:last-child) {
            margin-right: 30px;
        }
}
